{{- range $item_name, $item := .Values.pods }}
  {{- range $itemPorts := $item.ports }}
    {{- if $itemPorts.domains }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name:  {{ $item_name | truncate 53 }}-{{ $itemPorts.name }}
  namespace: {{ $.Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
      {{ if $item.oauth2 }}
  forwardAuth:
    address: http:// {{ $item_name | truncate 53 }}-oauth2.{{ $.Values.namespace }}.svc.cluster.local:4181
    trustForwardHeader: true
    authResponseHeaders:
      - X-Forwarded-User
      {{ else }}
  basicAuth:
    secret: secret- {{ $item_name | truncate 53 }}-{{ $itemPorts.name }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}