{{- if and .Values.secretRegistry (gt (len .Values.secretRegistry) 10) }}
apiVersion: v1
kind: Secret
metadata:
  name: secrets-registry
  namespace: {{ .Release.Namespace }}
data:
  .dockerconfigjson: "{{ .Values.secretRegistry }}"
type: kubernetes.io/dockerconfigjson
{{- end }}
